.App {
  display: flex;
  flex-direction: column;
  background-color: #e8f1f2;
  height: 100vh;
  width: 100vw;
}

@media screen and (min-width: 1000px) {
  .App {
    flex-direction: row;
    justify-content: space-between;
  }
}
